//Fonts
@import url('https://fonts.googleapis.com/css?family=Khand:300,400,500,600,700');

$font-sans-serif: 'Khand', sans-serif;

/* Colours */

$dark-white: #cccccc;
$off-white:  #fcfcfc;
$off-black: #202020;
$light-grey: #a4a4a4;
$dark-grey: #2a2a2a;
$light-red: #c51a20;
$dark-red: #931a20;